@use '../styles/mixins' as *;

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.card {
    @include card;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.icon {
    width: 40px;
    height: 40px;
    background: var(--bg);
    border: 1px solid var(--border);
    border-radius: 50%;
    @include flex-center;
    font-weight: 700;
    color: var(--accent-2);
    margin-bottom: 0.5rem;
}