@use '../styles/mixins' as *;

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3rem;
}

.column {
    h3 {
        margin-bottom: 1rem;
        color: var(--text);
        font-size: 1.25rem;
        border-bottom: 2px solid var(--accent-3);
        padding-bottom: 0.5rem;
        display: inline-block;
    }

    ul {
        li {
            margin-bottom: 0.5rem;
            color: var(--text-muted);
            font-size: 0.95rem;
        }
    }
}